/* Variables */

$main-color:#fdd135;


/*Global*/

*, *::before, *::after {
	box-sizing: border-box;

.btn-primary {
    background-color: #fdd135;
    border-color: #fdd135;

/*Welcome*/

.welcome {
    background-size: cover;
}
.navbar-logo {
    color: #fdd135;
}